{% extends 'base_admin.html' %} {% block content %}
<div class="container py-5">
  <h3 class="fw-bold mb-4 text-primary">Tambah Data Pemilih</h3>
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
      <div class="card p-4">
        <form action="{{url_for('tambah_voters')}}" method="POST">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nama" name="nama"
              placeholder="Masukkan Nama"  required  />
            <label for="nama">Nama</label>
          </div>
          <div class="form-floating mb-3">
            <select  class="form-select" id="id_kelas" name="id_kelas" aria-label="Floating label">
              <option selected>Pilih Kelas:</option>
              {% for item in data_kelas %}
              <option value="{{item.id_kelas}}">{{item.kode_kelas}}</option>
              {% endfor %}
            </select>
            <label for="kelas">Kelas</label>
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary">
              <i class="bi bi-save2-fill me-2"></i>Simpan
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
