{% extends 'base_admin.html' %}
{% block content %}
<div class="container py-5">
    <h3 class="fw-bold mb-4 text-primary">Kelola Data Kelas</h3>
    <a href="{{url_for('tambah_kelas')}}" class="btn btn-success mb-4 rounded-pill px-4">+ Tambah Kelas</a>

    <div class="card p-4">
      <table class="table table-hover align-middle mb-0" id="tabelKelas">
        <thead class="table-primary">
          <tr>
            <th>No</th>
            <th>Kelas</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
            {% for item in data%}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{item[1]}}</td>
            <td>
              <button class="btn btn-warning btn-sm rounded-pill">Edit</button>
              <button class="btn btn-danger btn-sm rounded-pill">Hapus</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
let table=new DataTable('#tabelKelas')
</script>
{% endblock %}